/*color: #B72667;  	dark pink */
/*color: #00A0E3; 	dark blue */
/*color : #DE7DAE; 	light pink */

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "Open Sans", Verdana, Geneva, sans-serif;
	font-size: 14px;
	background: white;
	color: #555;
}

div {
	box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

a {
  color: inherit;
}

/*
*
* Navigation
*
*/

nav {
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	height: auto;
	padding: 1% 0 1.1% 0;
	border-bottom: 1px solid #aaa;
	background: #fff;
	z-index: 10;
}

.active.item {
	background: rgba(0,0,0,.03);
	color: rgba(0,0,0,.8);
	font-weight: 400;
	box-shadow: 0 2px 0 inset;
}

.edx-home-image {
	margin-left: .25%;
}


img[title="Home Page"] {
	width: 64px;
	height: 30px;
}

/*
*
* Main Content
*
*/
.main-container {
	margin: 0 1.5% 2% 1.5%;
	width: auto;
}

h1 {
	font-size: 1em;
	color: #333;
	margin: 1% 0;
	padding: 0;
	display: inline-block;
}

.recent-container-large {
	margin: 1% 0;
	display: inline-block;
	float: right;
	width: 30%;
}

.recent-row {
	width: 100%;
	margin: 1% 0;
	display: block;
}

.recent-name {
	width: 70%;
	display: inline-block;
	text-align: right;
	padding-left: 5%;
	padding-right: 2%;
}

.last-node {
	width: 30%;
	display: inline-block;
	padding-right: 5%;
}

.icon .long .arrow {
	float: left;
}

.selection {
	margin: 0;
}

.data {
	color: black;
}

/*
*
* Current and All Progress Displays
*
*/

.recent-container-large,
.recent-container-small,
.progress-container,
.summary-container,
.scatter-container,
.attendance-container,
.lecture-container {
	border: 1px solid #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.all-progress {
	display: inline-block;
}

.week-note {
	width: 50%;
	font-style: italic;
	font-size: .9em;
	color: darkgray;
	display: inline-block;
	padding-left: 2%;
	text-align: left;
}

.stat-title, .stat-data, .stat-percentile, .stat-bar, .class-percentile {
	display: inline-block;
}

.stat-title, .stat-data, .stat-percentile {
	text-align: right;
}

.stat-data {
	color: black;
	padding-left: 1.5%;
}

.perncetile {
	float: right;
}

.progress-container, .summary-container {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 45%;
	float: left;
}

.progress-row, .summary-row {
	display: block;
	margin: 1% 0;
}

.stat-title {
	width: 35%;
}

.stat-data {
	width: 15%;
}

.stat-percentile {
	width: 10%;
	padding-left: 1.5%;
	color: #A7A7A7;
}

.stat-bar {
	width: 20%;
	vertical-align: middle;
}

.class-percentile {
	width: 15%;
	text-align: center;
	color: #B72667;
	opacity: .8;
}

/*
*
* All Student Progress Graph
*
*/
.scatter-container {
	margin: 1% 0;
	width: 45%;
	float: left;
}
.scatter-title {
	display: inline-block;
}

.me-button {
  right: 30px;
  top: 30px;
  margin: 2% 2% 0 0;
  float: right;
}

.youAreHere {
	color: #B72667;
	fill: #B72667;
	opacity: .8;
}

/*
*
* Lecture Progress Display
*
*/

.head-lecture-row,
.lecture-row {
	width: 100%;
	padding: 1% 2%;
}

.lecture-progress-table > div > div {
	display: inline-block;
}

.lecture-progress-table tr th{
	font-weight: normal;
}

.lecture-row:nth-child(2n) {
	background: #F2F2F2;
}

.lecture-container {
	margin: 1% 0;
	margin-left: 2%;
	width: 53%;
	float: right;
}
.lects {
	width: 13%;
}

.lect-problems {
	width: 16.3%;
	text-align: right;
}

.lect-videos {
	width: 41.5%;
	text-align: right;
}

.lecture {
	width: 20%;
}

.lect-num {
	display: inline;
	padding-left: 10%;
}

.lect-problem-total {
	width: 10%;
}

.lect-problems-percent {
	width: 10%;
	color: #A7A7A7;
}

.lect-problem-bar {
	width: 17.5%;
	vertical-align: middle;
	padding-left: 1%;
}

.lect-video-total {
	width: 15%;
}

.lect-videos-percent {
	width: 10%;
	color: #A7A7A7;
}

.lect-video-bar {
	width: 15.5%;
	vertical-align: middle;
	padding-left: 1%;
}

.lect-data {
	text-align: right;
}

/*
*
* Attendance Bar Graph
*
*/

.attendance-container {
	width: 100%;
	clear: both;
	text-align: center;
}

svg {
	font: .9em sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.median {
	stroke: #BEBEBE;
	stroke-width: 3;
	shape-rendering: crispEdges;
	opacity: .5;
}

.cert {
	stroke: #B72667;
	stroke-width: 3;
	shape-rendering: crispEdges;
	opacity: .5;
}

.attendance-bars:hover {
	fill: #DE7DAE;
}

/* Source: http://bl.ocks.org/Caged/6476579 */

.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 12px;
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.7);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*
*
* Goals
*
*/

.goals {
	display: none;
	width: 100%;
}

.goal {
	text-align: left;
	margin: 1% 0;
	font-size: 1.2em;
}

input[type=number] {
	max-width: 50px;
	min-height: 40px;
}


/*
*
* Main Table Headings
*
*/

.section {
	margin: 2% 0 0 2%;
	font-size: 1.2em;
	color: #646464;
}