body {
	background: white;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

img[title="Home Page"] {
	width: 64px;
	height: 30px;
}

.stat-percentile, .percentile {
	font-weight: lighter;
	color: #8A8C8F;
	font-size: 0.8em;
	padding: 0 0 0 1%;
}

.percentile:hover {
	font-weight: bold;
	font-size: large;
	color: #71C3E8;
}

.ui.progress .bar {
	width: 95%;
	background: #71C3E8;
}

.tbody

.summary-stats, .progress-details {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.summary-stats td, .progress-details td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.look {
	font-weight: bold;
	font-size: 1.3em;
}

.progress-details {
	margin: 0 2%;
}

.progress-details th {
	padding-bottom: 0;
}

.progress-details td {
	padding: 1em .5em 1em .5em;
	text-align: left;
}

.progress-details th {
	text-align: left;
}

.stat-name {
	width: 30%;
}

.stat-num {
	width: 15%;
}

.stat-bar {
	width: 40%;
}

.stat-percentile {
	width: 15%;
}

.ui .progress:last-child {
	margin: 1%;
}

.edx-home-image {
	margin-left: .25%;
}

.stat-title, .stat-data {
	padding: 1%;
	font-size: 1.1em;
}

.stat-title {
	text-align: right;
}

.stat-data {
	text-align: center;
}

.week-row {
	width: 100%;
	font-size: 1.1em;
	font-weight: normal;
}

.week-row:nth-child(2n) {
	width: 100%;
	background: white;
}

.week-row:nth-child(2n+1) {
	width: 100%;
	background: #F2F2F2;
}

.detail-week {
	width: 10%;
}

.detail-lecture {
	width: 10%;
}

.detail-score {
	width: 10%;
	text-align: center;
}

.detail-problem-bar {
	width: 15%;
}

.detail-problems {
	width: 30%;
}

.detail-video-time {
	width: 10%;
}

.detail-video-bar {
	width: 15%;
}

.problem-set {
	display: inline-block;
}

.problem-id {
	font-size: .9em;
	color: #8A8C8F;
	font-weight: lighter;
}

.ui.tiny.progress .bar {
	background: #71C3E8;
}
