@media only screen and (max-width:750px) {

	.nav-bar {
		display: none;
		visibility: hidden;
	}

	.content {
		vertical-align: central;
		padding-top: 1%;
		padding-right: 5%;
		float: right;
	}
	
	/* have table scroll horizontally */
	/* hide the individual problem scores column */
	/* fix the week and lecture columns to the left side of the screen */
}