@media only screen and (max-width:750px) {
	
	.recent-container-small {
		max-width: 386px;
		margin: 2% auto 1%;
	}

	.progress-container,
	.summary-container,
	.lecture-container,
	.scatter-container,
	.attendance-container {
		width: 100%;
		margin: 1% auto;
		overflow-x: auto;
	}
	
	/* have table scroll horizontally */
	/* hide the individual problem scores column */
	/* fix the week and lecture columns to the left side of the screen */
}