@media only screen and (min-width:1050px) and (max-width:1249px) {

	h1 {
		display: block;
	}

	.dropdown {
		width: 35%;
		display: inline-block;
	}

	.main-display {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.progress-container {
		-webkit-order: 1;
		order: 1;
		width: 49%;
		margin: 1% auto;
		margin-right: 1%;
	}

	.summary-container {
		-webkit-order: 2;
		order: 2;
		width: 49%;
		margin: 1% auto;
		margin-left: 1%;
	}

	.lecture-container {
		-webkit-order: 3;
		order: 3;
		width: 60%;
		margin: 1% auto;

	}

	.lect-problems {
		width: 16.5%;
	}

	.lect-videos {
		width: 42%;
	}

	.attendance-container {
		margin: 1% auto;
		width: 100%;
		overflow-x: auto;
		padding: 0 2%;
	}

}