@media only screen and (min-width:1050px) and (max-width: 1249px) {

	.main-display {
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.recent-container-small {
		display: none;
		visibility: hidden;
	}

	.progress-container {
		-webkit-order: 2;
		order: 2;
		width: 49%;
		margin: 1% auto;
	}

	.summary-container {
		-webkit-order: 1;
		order: 1;
		width: 49%;
		margin: 1% auto;
	}

	.lecture-container {
		-webkit-order: 4;
		order: 4;
		width: 80%;
		margin: 1% auto;

	}

	.scatter-container {
		-webkit-order: 3;
		order: 3;
		width: 80%;
		margin: 1% auto;
	}

	.lect-problems {
		width: 16.5%;
	}

	.lect-videos {
		width: 42%;
	}

	.attendance-container {
		margin: 1% auto;
		width: 100%;
		overflow-x: auto;
		padding: 0 2%;
	}

}